.make-squad {
  .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .buttons-container button {
    background-color: #007bff;
    border: none;
    color: white;
    width: 90px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s, transform 0.3s;
  }

  button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }

  button:active {
    background-color: #004080;
    transform: scale(0.95);
  }
  .content-wrapper {
    display: flex;
    justify-content: space-between; /* 반반 나누기 위해 변경 */
    align-items: flex-start; /* 상단 정렬 */
    gap:4rem;
  }

  .soccer-field-container {
    position: relative;
    width: 100%; /* 넓이를 더 크게 설정 */
    display: inline-block;
    margin-left: -2rem; /* 오른쪽 여백 제거 */
    margin-top: 20px;
  }

  .soccer-field {
    border-radius: 100px; /* 부드러운 모서리 */
    background: linear-gradient(145deg, #1e6f5c, #1b5a4a); /* 잔디 색상의 그라데이션 */
    width: 110%; /* 부모 요소보다 더 크게 설정 */
    height: 50rem; /* 높이를 고정 */
    margin-left: -3.5rem; /* 왼쪽으로 이동 */
  }

  .player-search-container {
    width: 50rem; /* 반반 나누기 */
  }

  .player-search-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .player-search-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
  }

  .player-position {
    position: absolute;
    cursor: pointer;
    width: 3.5vw; /* 화면 크기에 따라 비율 조정 */
    height: 3.5vw; /* 화면 크기에 따라 비율 조정 */
    line-height: 3.5vw; /* 화면 크기에 따라 비율 조정 */
    color: black;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 2px solid #fff;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  .goalkeeper {
    background-color: #f6f63d;
  }

  .defender {
    background-color: #5959f3;
  }

  .midfielder {
    background-color: #2ada2a;
  }

  .attacker {
    background-color: #f54c4c;
  }

  .player-info {
    width: 300px;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
  }
  .search-result-container{
    width:100%;
    margin-left: 8rem;
    .player-card{
      width: 330px;
      display: inline-grid;
      .player-profile-image{
        justify-self: center;
      }
    }
  }
}
